h1.text-right.text-primary
  span.badge.label-primary New
  | &nbsp;#{blogTitle}
h3.text-right
  span.label.label-default.label-success with Node.js
br
ul.nav.nav-pills.nav-stacked.text-right
  li
    a(title="主页", href="/") Home
  li
    a(title="登陆", href="/login") 登陆
  li
    a(title="注册", href="/reg") 注册
